{% verbatim %}
<div ng-if="post" class="post-image text-center" set-blog-background data-image="{{post.image_url}}">
</div>
<div class="container mtl ptl">
	<div class="row">
		<div class="col-md-12">
			<div ng-if="author" class="post-author hidden-xs">
				<img src="{{author.image_url}}" alt="">
				<span class="name">{{author.name}}</span>
			</div>
			<div class="text-center center maxw-450">
			</div>
			<div class="center maxw-750">
				<h1 class="post-title">
					{{post.title}}
				</h1>

				<div class="plm">
					<span class="post-date">{{post.created | date:'MMMM dd, yyyy'}} </span>
				</div>

				<div ng-bind-html="post.body" class="post-body">
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}
