{% verbatim %}
<div ng-if="post" class="post-image text-center" set-blog-background data-image="{{post.image_url}}">
</div>
<div class="container mtl ptl">
	<div class="row">
		<div class="col-md-12">
			<div ng-if="author" class="post-author hidden-xs">
				<img src="{{author.image_url}}" alt="">
				<span class="name">{{author.name}}</span>
			</div>
			<div class="text-center center maxw-450">
			</div>
			<div class="text-left center maxw-750">
				<h1 class="post-title">
					{{post.title}}
				</h1>

				<div class="text-center">
					<span class="post-date">{{post.created | date:'MMMM dd, yyyy'}} </span>
				</div>

				<div class="post-body">
					<p>The Sony MDR-V6 definitely qualifies as a classic headphone. It was introduced way back in 1985, and while Sony has since released a string of "improved" and more expensive V6 inspired models -- the MDR-V600, MDR-7506 , and MDR-7509HD -- the $109.99-list MDR-V6 is still available. (Sony's Web site lists it as discontinued, but it still appears to be widely available, and for well under its list price at that.) It's been a favorite of audio mixers; radio, film, TV engineers; and consumers for years and has managed to endure for nearly three decades without being endorsed by a hip-hop star or a pop singer.</p>
					<p>Why are we reviewing it now? Well, we were finally getting around to reviewing its popular sibling, the MDR-7506, so I figured I'd have a listen to the "original" and compare the two of them, as well as some of today's top midrange headphones.</p>
 					<p>Since the MDR-V6 had amassed more than 900 five-star reviews on Amazon over the years, I assumed it would be competent. But after taking it for a spin I was a little bit surprised by how good it sounds -- and how comfortable it feels -- for its modest price point. It was not hard to see why the headphone was still in production after all these years: it just sounds and feels right.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}
