@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
.last-col {
  overflow: hidden;
}
.ban {
  border-radius: 0;
}
.bax {
  border-radius: 3px;
}
.bas {
  border-radius: 5px;
}
.bam {
  border-radius: 10px;
}
.bal {
  border-radius: 20px;
}
.baxl {
  border-radius: 60px;
}
.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px !important;
}
.pts,
.pvs,
.pas {
  padding-top: 5px !important;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px !important;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px !important;
}
.ptxl,
.pvxl,
.paxl {
  padding-top: 60px !important;
}
.prn,
.phn,
.pan {
  padding-right: 0 !important;
}
.prx,
.phx,
.pax {
  padding-right: 3px !important;
}
.prs,
.phs,
.pas {
  padding-right: 5px !important;
}
.prm,
.phm,
.pam {
  padding-right: 10px !important;
}
.prl,
.phl,
.pal {
  padding-right: 20px !important;
}
.prxl,
.phxl,
.paxl {
  padding-right: 60px !important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px !important;
}
.pbxl,
.pvxl,
.paxl {
  padding-bottom: 60px !important;
}
.pln,
.phn,
.pan {
  padding-left: 0 !important;
}
.plx,
.phx,
.pax {
  padding-left: 3px !important;
}
.pls,
.phs,
.pas {
  padding-left: 5px !important;
}
.plm,
.phm,
.pam {
  padding-left: 10px !important;
}
.pll,
.phl,
.pal {
  padding-left: 20px !important;
}
.plxl,
.phxl,
.paxl {
  padding-left: 60px !important;
}
.mtn,
.mvn,
.man {
  margin-top: 0px !important;
}
.mtx,
.mvx,
.max {
  margin-top: 3px !important;
}
.mts,
.mvs,
.mas {
  margin-top: 5px !important;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px !important;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px !important;
}
.mtxl,
.mvxl,
.maxl {
  margin-top: 60px !important;
}
.mrn,
.mhn,
.man {
  margin-right: 0px !important;
}
.mrx,
.mhx,
.max {
  margin-right: 3px !important;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px !important;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px !important;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px !important;
}
.mrxl,
.mhxl,
.maxl {
  margin-right: 60px !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px !important;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px !important;
}
.mbxl,
.mvxl,
.maxl {
  margin-bottom: 60px !important;
}
.mln,
.mhn,
.man {
  margin-left: 0px !important;
}
.mlx,
.mhx,
.max {
  margin-left: 3px !important;
}
.mls,
.mhs,
.mas {
  margin-left: 5px !important;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px !important;
}
.mll,
.mhl,
.mal {
  margin-left: 20px !important;
}
.mlxl,
.mhxl,
.maxl {
  margin-left: 60px !important;
}
.center {
  margin: 0 auto;
}
.maxw-450 {
  max-width: 450px;
}
.maxw-750 {
  background-color: white;
  max-width: 750px;
  position: relative;
  padding: 20px;
  top: -176px;
}
a {
  color: inherit !important;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: 'Whitney SSm 7r', 'Whitney SSm A', 'Whitney SSm B', Georgia, Verdana, "Lucida Grande", "Lucida Sans", serif;
}
.top-border {
  background: linear-gradient(to right, #7deaa7, #db315d);
  height: 2px;
  width: 100%;
}
nav {
  background-color: black;
  height: 105px;
  text-align: center;
  width: 100%;
}
nav .brand {
  display: inline-block;
  font-size: 20px;
  line-height: 70px;
  margin: 0 auto;
}
nav .brand .left {
  color: darkgrey;
  font-weight: 300;
}
nav .brand .right {
  color: white;
  font-weight: 700;
}
nav .navigation {
  background-color: #161618;
  color: white;
  font-size: 12px;
  height: 35px;
}
nav .navigation ul {
  line-height: 35px;
}
nav .navigation ul li {
  display: inline-block;
  padding: 0px 10px;
}
/*----------*/
.carousel {
  background: linear-gradient(rgba(77, 77, 77, 0.45), rgba(20, 1, 1, 0.45)), url('https://fanart.tv/api/download.php?type=download&image=51946&section=2');
  background-position: 50% 50%;
  background-size: cover;
  height: 450px;
  text-align: center;
  width: 100%;
}
.carousel .text {
  padding: 9%;
}
.carousel .title {
  color: white;
  display: block;
  font-size: 50px;
  line-height: 70px;
  margin: 0 auto;
}
.carousel .subscript {
  color: darkgrey;
  display: block;
  font-size: 20px;
  line-height: 70px;
  margin: 0 auto;
}
.divider {
  background-color: lightgray;
  height: 1px;
  margin: 29px 0px 10px 0px;
  text-align: center;
}
.divider h5 {
  background-color: white !important;
  color: black;
  padding: 0px 22px;
  position: relative;
  top: -0.5em;
  width: 156px;
  margin: 0 auto;
}
/*-------- HOME --------*/
.post-home {
  height: 400px;
  padding: 30px;
}
.post-home .content {
  background-position: center center;
  background-size: cover !important;
  border-radius: 3px;
  color: white;
  height: 100%;
  padding: 180px 5% 0% 5%;
  position: relative;
  text-align: left;
  width: 100%;
}
.post-home .content .title {
  font-size: 16px;
  text-decoration: underline;
}
.post-home .content .blurb {
  height: 80px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(#ffffff, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.post-home .content a {
  border-radius: 3px;
  border: none;
  color: white !important;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-shadow: 0px 2px black;
  width: 100%;
}
.post-home .content a.color0 {
  background-color: #9A3535;
}
.post-home .content a.color1 {
  background-color: #359A73;
}
.post-home .content a.color2 {
  background-color: #35929A;
}
.post-home .content a.color3 {
  background-color: #A48531;
}
.post-home .content a.color4 {
  background-color: #A2336F;
}
.light-btn {
  background-color: #f1f1f1;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
}
.light-btn:hover {
  border: 1px solid darkgray;
}
/*-------- Blog Post --------*/
/*
.post-title	{
	bottom: 50%;
	color: white;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-size: 50px;
	font-weight: 300;
	left: 50%;
	margin-left: -20%;
	padding: 10px;
	position: absolute;
	text-shadow: 1px 1px black;

}
*/
.post-title {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0px 100px 0px;
  padding: 10px;
  text-align: center;
}
.post-body {
  font-size: 19px;
}
.post-body p {
  margin: 20px 0px;
}
.post-image {
  background-size: cover !important;
  background-position: 50% 50%;
  height: 400px;
  position: relative;
}
.post-author {
  position: absolute;
  z-index: 10;
}
.post-author span {
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  top: -73px;
}
.post-author img {
  width: 100px;
  border-radius: 100%;
}
.post-date {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 100;
  color: rgba(104, 104, 104, 0.41);
  top: -90px;
  position: relative;
}
