<!DOCTYPE html>
<html ng-app="fifty">
    <head>
        <title>The FiftyOne</title>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        {% load staticfiles %}
        {% load compress %}

        <link rel="stylesheet" href="{{ STATIC_URL }}less/application.css" />
             <link rel="stylesheet" href="{{ STATIC_URL }}less/whitney.css" />
             <link rel="stylesheet" href="{{ STATIC_URL }}less/gotham.css" />
    </head>

    <body>
        <div class="top-border"></div>
        <nav>
            <div class="brand">
                <span class="left">FIFTY</span><span class="right">ONE</span>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/category/reviews">Reviews</a></li>
                    <li><a href="/blog/category/music">Music</a></li>
                    <li><a href="/blog/category/deals">Deals</a></li>
                    <li><a href="#">Releases</a></li>
                </ul>
            </div>
        </nav>

        <div class="">
            <div id="view" class="full-height" ng-view></div>
            {% block body_block %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

         {% compress js %}
             <script src="/static/js/fiftyone.js" type="text/javascript" charset="utf-8"></script>
             <script src="/static/js/controllers/home.js" type="text/javascript" charset="utf-8"></script>
             <script src="/static/js/controllers/blog_post.js" type="text/javascript" charset="utf-8"></script>
             <script src="/static/js/controllers/blog_category.js" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}
    </body>
</html>